<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <input v-model="num1" type="number" />
      <label for="num1"> kms</label>
      <br /><br />
      <input v-model="num2" type="number" />
      <label for="num2"> metros</label>
      <br /><br />
    </div>
  </body>
</html>
