<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <form>
        <input v-model="texto" />
        <p>{{texto}}</p>

        <textarea v-model="message"></textarea>
        <p style="white-space: pre-line">{{ message }}</p>
        <br />
        <input type="checkbox" id="checkbox" v-model="checked" />
        <label for="checkbox">{{ checked }}</label>

        <br />
        <input type="radio" id="one" value="One" v-model="picked" />
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked" />
        <label for="two">Two</label>
        <div>Picked: {{ picked }}</div>
        <select v-model="selected">
          <option disabled value="">Default</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
        <div>Selected: {{ selected }}</div>

        <br />
        <br />
        <button @click.prevent="resetForm">Reset</button>
      </form>
    </div>
  </body>
</html>
